{% extends 'base.html.twig' %}

{% block title %}Imago
{% endblock %}

{% block body %}
	<div>
		<header>
			<h1 class="main-title">Imago</h1>
		</header>
	</div>
	<div class="container">

		<div>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis blandit nibh. Donec luctus dui vitae tincidunt ultrices. Pellentesque id purus lorem. Mauris a congue tellus. Proin molestie enim eget tortor fermentum, hendrerit sollicitudin nulla mollis. Nunc lacinia sapien a eros hendrerit, ut dictum eros efficitur. Cras pharetra vehicula dapibus. Suspendisse potenti. Aliquam erat volutpat. Fusce ultricies porttitor diam. Duis at ullamcorper dui, in varius magna. Donec vitae tempor nibh. Suspendisse eget venenatis elit, a cursus tortor. Integer finibus ullamcorper hendrerit.</p>

			<p>Vivamus porttitor lorem nec sapien tempor lobortis. Donec sit amet mi mi. Sed at dolor ut nulla feugiat euismod. Nam varius et mauris id consequat. Aenean accumsan arcu condimentum arcu auctor, vitae bibendum ipsum posuere. Integer in venenatis nulla, ac fringilla ipsum. Maecenas lobortis, sapien et hendrerit lobortis, tortor ligula pharetra massa, id commodo ligula velit vitae eros. Nunc sed porttitor turpis. Nunc lacus velit, condimentum eget viverra quis, luctus eget dui. Etiam volutpat dignissim enim vitae laoreet. Praesent leo mi, convallis a tellus at, iaculis fermentum justo. Suspendisse pulvinar, nibh vel gravida feugiat, enim massa malesuada ex, a mattis arcu dui ac urna. Etiam fringilla dui vel urna blandit aliquam.</p>
		</div>

		<div class="adaptive-img--cover">
			<span>
				<img src="https://images.ctfassets.net/hrltx12pl8hq/7yQR5uJhwEkRfjwMFJ7bUK/dc52a0913e8ff8b5c276177890eb0129/offset_comp_772626-opt.jpg?fit=fill&w=800&h=300"/>
			</span>
		</div>

		<div>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis blandit nibh. Donec luctus dui vitae tincidunt ultrices. Pellentesque id purus lorem. Mauris a congue tellus. Proin molestie enim eget tortor fermentum, hendrerit sollicitudin nulla mollis. Nunc lacinia sapien a eros hendrerit, ut dictum eros efficitur. Cras pharetra vehicula dapibus. Suspendisse potenti. Aliquam erat volutpat. Fusce ultricies porttitor diam. Duis at ullamcorper dui, in varius magna. Donec vitae tempor nibh. Suspendisse eget venenatis elit, a cursus tortor. Integer finibus ullamcorper hendrerit.</p>

			<p>Vivamus porttitor lorem nec sapien tempor lobortis. Donec sit amet mi mi. Sed at dolor ut nulla feugiat euismod. Nam varius et mauris id consequat. Aenean accumsan arcu condimentum arcu auctor, vitae bibendum ipsum posuere. Integer in venenatis nulla, ac fringilla ipsum. Maecenas lobortis, sapien et hendrerit lobortis, tortor ligula pharetra massa, id commodo ligula velit vitae eros. Nunc sed porttitor turpis. Nunc lacus velit, condimentum eget viverra quis, luctus eget dui. Etiam volutpat dignissim enim vitae laoreet. Praesent leo mi, convallis a tellus at, iaculis fermentum justo. Suspendisse pulvinar, nibh vel gravida feugiat, enim massa malesuada ex, a mattis arcu dui ac urna. Etiam fringilla dui vel urna blandit aliquam.</p>
		</div>

		<div>
			<div class="adaptive-img--cover">
				<span>
					<img src="https://img-19.commentcamarche.net/cI8qqj-finfDcmx6jMK6Vr-krEw=/1500x/smart/b829396acc244fd484c5ddcdcb2b08f3/ccmcms-commentcamarche/20494859.jpg"/>
				</span>
			</div>
			<div class="adaptive-img--cover">
				<span>
					<img src="https://www.referenseo.com/wp-content/uploads/2019/03/image-attractive-960x540.jpg"/>
				</span>
			</div>
		</div>

		<p>Vivamus porttitor lorem nec sapien tempor lobortis. Donec sit amet mi mi. Sed at dolor ut nulla feugiat euismod. Nam varius et mauris id consequat. Aenean accumsan arcu condimentum arcu auctor, vitae bibendum ipsum posuere. Integer in venenatis nulla, ac fringilla ipsum. Maecenas lobortis, sapien et hendrerit lobortis, tortor ligula pharetra massa, id commodo ligula velit vitae eros. Nunc sed porttitor turpis.
		</p>

	</div>
{% endblock %}
