{% extends 'base.html.twig' %}

{% block title %}Imago
{% endblock %}

{% block body %}
	<main>
		<header>
			<div>
				</div>
			</div>
			<p class="header--title__up">Michel LECOCQ</p>
			<h1 class="header--title">Imago</h1>
			<p class="header--p container">Michel LECOCQ rêveur à ses heures, sportif depuis toujours, moniteur de plongée en "retraite", Michel voulait voyager, il le fera dans sa tête et avec la photographie. Depuis lors, puisqu'il déteste faire les choses à moitié, il fonce en oubliant parfois que les portes sont fermées.</p>
		</header>

		<div class="container">

			<div class="reveal">
				<p class="index--text">
					Michel LECOCQ est né 30 heures après Isabelle. Rêveur à ses heures, sportif depuis toujours, moniteur de plongée en "retraite", Michel voulait voyager, il le fera dans sa tête et avec la photographie à partir de 1998, année de ses débuts.
				</p>

				<p class="index--text">
					Depuis lors, puisqu'il déteste faire les choses à moitié, il fonce en oubliant parfois que les portes sont fermées. Ce n'est pas grave car finalement, les images qu'il réalise ont été éditées dans plusieurs magazines illustres ("Chasseur d'Images", "Naturfoto" en Allemagne, "Image et Nature"). Il a déjà participé à la réalisation de trois beaux livres d'images. Il a exposé en de multiples occasions (une cinquantaine d'expos).
				</p>

				<p class="index--text">
					Il a cédé l'intégralité de ses droits d'auteurs à Isabelle en 2011 pour se consacrer davantage à la création ... Et au rève. il s'est mis à l'ecriture officiellement en 2015 et son premier roman "Haïku noir" a vu le jour officieusement cette fois ci en début d'année 2017, il est toujours en cours de finition. Son deuxième roman "Orvide renaissance" est lui, à l'inverse, bien terminé depuis janvier 2019 et en cours de réédition. Un autre roman est attendu pour cette année 2021 : Les merveilles de Juliette aux éditions Alter Real. Il est devenu un artiste photographe coté sur la plateforme internationale ARTPRICE en novembre 2017.
				</p>

			</div>

			<div class="adaptive-img--cover reveal">
				<span>
					<img src="https://images.ctfassets.net/hrltx12pl8hq/7yQR5uJhwEkRfjwMFJ7bUK/dc52a0913e8ff8b5c276177890eb0129/offset_comp_772626-opt.jpg?fit=fill&w=800&h=300"/>
				</span>
			</div>

			<div class="reveal">
				<p class="index--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis blandit nibh. Donec luctus dui vitae tincidunt ultrices. Pellentesque id purus lorem. Mauris a congue tellus. Proin molestie enim eget tortor fermentum, hendrerit sollicitudin nulla mollis. Nunc lacinia sapien a eros hendrerit, ut dictum eros efficitur. Cras pharetra vehicula dapibus. Suspendisse potenti. Aliquam erat volutpat. Fusce ultricies porttitor diam. Duis at ullamcorper dui, in varius magna. Donec vitae tempor nibh. Suspendisse eget venenatis elit, a cursus tortor. Integer finibus ullamcorper hendrerit.</p>

				<p class="index--text">Vivamus porttitor lorem nec sapien tempor lobortis. Donec sit amet mi mi. Sed at dolor ut nulla feugiat euismod. Nam varius et mauris id consequat. Aenean accumsan arcu condimentum arcu auctor, vitae bibendum ipsum posuere. Integer in venenatis nulla, ac fringilla ipsum. Maecenas lobortis, sapien et hendrerit lobortis, tortor ligula pharetra massa, id commodo ligula velit vitae eros. Nunc sed porttitor turpis. Nunc lacus velit, condimentum eget viverra quis, luctus eget dui. Etiam volutpat dignissim enim vitae laoreet. Praesent leo mi, convallis a tellus at, iaculis fermentum justo. Suspendisse pulvinar, nibh vel gravida feugiat, enim massa malesuada ex, a mattis arcu dui ac urna. Etiam fringilla dui vel urna blandit aliquam.</p>
			</div>

			<div class="images reveal">
				<div class="adaptive-img--cover">
					<span>
						<img src="https://img-19.commentcamarche.net/cI8qqj-finfDcmx6jMK6Vr-krEw=/1500x/smart/b829396acc244fd484c5ddcdcb2b08f3/ccmcms-commentcamarche/20494859.jpg"/>
					</span>
				</div>
				<div class="adaptive-img--cover">
					<span>
						<img src="https://www.referenseo.com/wp-content/uploads/2019/03/image-attractive-960x540.jpg"/>
					</span>
				</div>
			</div>

			<div class="reveal">
				<p class="index--text">
					Vivamus porttitor lorem nec sapien tempor lobortis. Donec sit amet mi mi. Sed at dolor ut nulla feugiat euismod. Nam varius et mauris id consequat. Aenean accumsan arcu condimentum arcu auctor, vitae bibendum ipsum posuere. Integer in venenatis nulla, ac fringilla ipsum. Maecenas lobortis, sapien et hendrerit lobortis, tortor ligula pharetra massa, id commodo ligula velit vitae eros. Nunc sed porttitor turpis.
				</p>
			</div>
		</div>
	</main>
	<script type="text/javascript" src="controller/main.js"></script>
{% endblock %}
