{% extends 'base.html.twig' %}

{% block title %}Hello SnakeController!
{% endblock %}

{% block body %}
	<div class="container">
		<div class="snake--index">
			<canvas class="snakeCanv" width="400" height="400"></canvas>
		</div>
	</div>
{% endblock %}
