{% extends 'base.html.twig' %}

{% block title %}Category index
{% endblock %}

{% block body %}
	<main>
		<div class="container">
			<div class="article--index">
				<h2>Catégories</h2>
				<div class="liste--category">
					{% for category in categories %}
						<div class="article--category">{{ category.name }}</div>
						{% if is_granted("ROLE_ADMIN")%}
							<div>{{ include('category/_delete_form.html.twig') }}</div>
						{% endif %}
					{% else %}
						<div>Aucune catégories trouvé</div>
					{% endfor %}
					<a class="article--admin" href="{{ path('app_category_new') }}">
						Créer une nouvelle catégorie
					</a>
					<a class="article--admin" href="{{ path('app_articles_index') }}">Retour à la liste d'articles</a>
				</div>

			</div>
		</div>
		<main>
		{% endblock %}
