{% extends 'base.html.twig' %}

{% block title %}Imago - Nouvelle catégorie
{% endblock %}

{% block body %}
	<main>
		<div class="container">
			<div class="article--index">

				<h2>Créer une nouvelle catégorie</h2>

				{{ include('category/_form.html.twig') }}

				<a class="article--admin" href="{{ path('app_category_index') }}">Retour à la liste des catégories</a>
			</div>
		</div>
		<main>
		{% endblock %}
