.footer {
  margin-top: 5rem;
  div {
    flex-direction: row;
    justify-content: flex-end;
    margin: 0 1rem;
    color: #ebecf0;
    line-height: 1.7;

    .svg-icon {
      width: 1.7rem;
      height: 1.7rem;
    }

    .svg-icon path,
    .svg-icon polygon,
    .svg-icon rect {
      fill: #ffffff;
      &:hover{
        fill: #7a7a7a;
      }
    }

    .svg-icon circle {
      stroke: #ffffff;
      stroke-width: 1;
    }
  }
}
