.footer {
  margin-top: 50px;
  div {
    flex-direction: row;
    justify-content: flex-end;
    margin: 0 10px;
    @include paragraph;

    .svg-icon:hover {
      fill: red; /* pour bien voir le test */
      opacity: 1;
    }

    .svg-icon {
      width: 30px;
      height: 30px;
    }

    .svg-icon path,
    .svg-icon polygon,
    .svg-icon rect {
      fill: #ffffff;
    }

    .svg-icon circle {
      stroke: #ffffff;
      stroke-width: 1;
    }
  }
}
