.header {
  top: 0;
  left: 0;
  width: 100%;
  height: 48px;
  position: fixed;
  background: #1b1b1b;
  .loading-bar {
    height: 48px;
    background: #6bff772a;
    width: 0%;
    border-radius: 3px;
  }
}