@import "mixin";

body {
  header{
    h1 {
      @include titre1;
    }
  }
  position: relative;
  z-index: 1;
  flex: 1 0;
  h2 {
    @include titre2;
  }
  h3 {
    @include titre3;
  }
}

p {
  padding-bottom: 10px;
}

.adaptive-img--cover {
  span {
    width: auto;
    height: 200px;
  }
}

.layout {
  gap: 48px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0 24px 200px 24px;
}
