@import "mixin";

main {
  padding-left: 4rem;
  .header--title__up {
    margin: auto;
  }
  h2 {
    @include title2;
  }
  h3 {
    @include title3;
  }

  .index--text,
  p {
    @include paragraph;
    margin-bottom: 1rem;
    a {
      padding: 0;
    }
  }

  .images {
    flex-direction: row;
    gap: 5rem;
  }

  .adaptive-img--cover {
    flex: 1 0;
    padding: 40px 0;
    span {
      height: 300px;
    }
  }
}

.article--index {
  div {
    color:#f3f3f3;
    border: dashed #3fff00;
    margin: 0 20px;
    .article--title {
      flex-direction: row;
      span {
        flex: 1 0;
        padding: 100px;
        margin: 10px;
        background-color: #f3f3f3;
        color: black;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
      }
    }
  }
}
