@mixin culumn {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  padding: 30px 0;
}

main {
  color: #369;
  h1 {
    @include titre1;
  }
  h2 {
    @include titre2;
  }
  h3 {
    @include titre3;
  }
}

article {
  background-color: white;
  padding: 20px;
}

section {
  border: 2px solid #7a1f1f;
  padding: 20px;
}

p {
  padding-bottom: 10px;
}

.culumn {
  @include culumn;
  article {
    flex: 1 40%;
  }
}

.culumn2 {
  @include culumn;
  article {
    flex: 1 25%;
  }
}

.culumn3 {
  @include culumn;
  article {
    flex: 1 16%;
  }
}
