.side-nav {
  background: #333;
  position: fixed;
  height: 100%;
  min-width: 4rem;
  z-index: 2;

  div:last-child{
    position: absolute;
    bottom: 0;
  }

  .nav-bloc {
    padding: 1.5rem 0;
    align-self: center;
    cursor: pointer;
    border-bottom: 0.01rem solid #f2f2f21e;
    .svg-icon,
    .svg-icon path {
      width: 1.7rem;
      height: 1.7rem;
      fill: #ebecf0;
    }
  }

  .tooltip {
    position: relative;
    .tooltiptext {
      visibility: hidden;
      width: auto;
      padding: 0.3rem 0.7rem;
      background-color: #555;
      color: #ebecf0;
      text-align: center;
      border-radius: 0.5rem;

      position: absolute;
      z-index: 1;
      margin-left: 3.3rem;
    }
    .tooltiptext::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 100%;
      margin-top: -0.3rem;
      border-width: 0.3rem;
      border-style: solid;
      border-color: transparent #555 transparent transparent;
    }
  }
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
}
