{% extends 'base.html.twig' %}

{% block title %}Imago - Galerie
{% endblock %}

{% block body %}
	<main>
		<div class="container">
			<div class="gallery--index">
				<h2>Galerie</h2>
				<div class="gallery">
					<div class="adaptive-img--contain img-container">
						<span>
							<img class="image-popup" src="https://images.unsplash.com/photo-1448814100339-234df1d4005d?crop=entropy&fit=crop&fm=jpg&h=400&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=600" alt="BLABLA"/>
						</span>
					</div>

					<div class="adaptive-img--contain img-container">
						<span>
							<img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg" alt="dvdqv"/>
						</span>
					</div>

					<div class="adaptive-img--contain img-container">
						<span>
							<img src="https://helpx.adobe.com/content/dam/help/en/photoshop/using/convert-color-image-black-white/jcr_content/main-pars/before_and_after/image-before/Landscape-Color.jpg" alt=""/>
						</span>
					</div>

					<div class="adaptive-img--contain img-container">
						<span>
							<img src="https://img-19.commentcamarche.net/cI8qqj-finfDcmx6jMK6Vr-krEw=/1500x/smart/b829396acc244fd484c5ddcdcb2b08f3/ccmcms-commentcamarche/20494859.jpg" alt=""/>
						</span>
					</div>

					<div class="adaptive-img--contain img-container">
						<span>
							<img src="https://images.unsplash.com/photo-1448814100339-234df1d4005d?crop=entropy&fit=crop&fm=jpg&h=400&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=600" alt=""/>
						</span>
					</div>

					<div class="adaptive-img--contain img-container">
						<span>
							<img src="https://images.unsplash.com/photo-1448814100339-234df1d4005d?crop=entropy&fit=crop&fm=jpg&h=400&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=600" alt=""/>
						</span>
					</div>

					<div class="adaptive-img--contain img-container">
						<span>
							<img src="https://helpx.adobe.com/content/dam/help/en/photoshop/using/convert-color-image-black-white/jcr_content/main-pars/before_and_after/image-before/Landscape-Color.jpg" alt=""/>
						</span>
					</div>

					<div class="adaptive-img--contain img-container">
						<span>
							<img src="https://img-19.commentcamarche.net/cI8qqj-finfDcmx6jMK6Vr-krEw=/1500x/smart/b829396acc244fd484c5ddcdcb2b08f3/ccmcms-commentcamarche/20494859.jpg" alt=""/>
						</span>
					</div>

					<div class="adaptive-img--contain img-container">
						<span>
							<img src="https://images.unsplash.com/photo-1448814100339-234df1d4005d?crop=entropy&fit=crop&fm=jpg&h=400&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=600" alt=""/>
						</span>
					</div>

					<div class="adaptive-img--contain img-container">
						<span>
							<img src="https://images.unsplash.com/photo-1448814100339-234df1d4005d?crop=entropy&fit=crop&fm=jpg&h=400&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=600" alt=""/>
						</span>
					</div>

					<div class="adaptive-img--contain img-container">
						<span>
							<img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg" alt=""/>
						</span>
					</div>

					<div class="adaptive-img--contain img-container">
						<span>
							<img src="https://helpx.adobe.com/content/dam/help/en/photoshop/using/convert-color-image-black-white/jcr_content/main-pars/before_and_after/image-before/Landscape-Color.jpg" alt=""/>
						</span>
					</div>

					<div class="adaptive-img--contain img-container">
						<span>
							<img src="https://img-19.commentcamarche.net/cI8qqj-finfDcmx6jMK6Vr-krEw=/1500x/smart/b829396acc244fd484c5ddcdcb2b08f3/ccmcms-commentcamarche/20494859.jpg" alt=""/>
						</span>
					</div>

					<div class="adaptive-img--contain img-container"></div>
				</div>
				<div class="modal">
					<img src="" alt="" class="full-img"/>
					<p class="caption"></p>
				</div>

			</div>
		</main>

		<script type="text/javascript" src="controller/gallery.js"></script>
	{% endblock %}
