{% extends 'base.html.twig' %}

{% block title %}Imago - Galerie
{% endblock %}

{% block body %}
	<main>
		<div class="container">
			<div class="gallery--index">
				<h2>Galerie</h2>
				<div class="gallery">
					<div class="adaptive-img--contain img-container">
						<span>
							<img class="image-popup" src="./img/Image01.jpg" alt="Description 1"/>
						</span>
					</div>

					<div class="adaptive-img--contain img-container">
						<span>
							<img src="./img/Image02.jpg" alt="Description 2"/>
						</span>
					</div>

					<div class="adaptive-img--contain img-container">
						<span>
							<img src="./img/Image03.jpg" alt="Description 3"/>
						</span>
					</div>

					<div class="adaptive-img--contain img-container">
						<span>
							<img src="./img/Image04.jpg" alt="Description 4"/>
						</span>
					</div>

					<div class="adaptive-img--contain img-container">
						<span>
							<img src="./img/Image05.jpg" alt="Description 5"/>
						</span>
					</div>

					<div class="adaptive-img--contain img-container">
						<span>
							<img src="./img/Image06.jpg" alt="Description 6"/>
						</span>
					</div>

					<div class="adaptive-img--contain img-container">
						<span>
							<img src="./img/Image07.jpg" alt="Description 7"/>
						</span>
					</div>

					<div class="adaptive-img--contain img-container">
						<span>
							<img src="./img/Image08.jpg" alt="Description 8"/>
						</span>
					</div>

					<div class="adaptive-img--contain img-container">
						<span>
							<img src="./img/Image09.jpg" alt="Description 9"/>
						</span>
					</div>

					<div class="adaptive-img--contain img-container">
						<span>
							<img src="./img/Image10.jpg" alt="Description 10"/>
						</span>
					</div>

					<div class="adaptive-img--contain img-container">
						<span>
							<img src="./img/Image11.jpg" alt="Description 11"/>
						</span>
					</div>

					<div class="adaptive-img--contain img-container">
						<span>
							<img src="./img/Image12.jpg" alt="Description 12"/>
						</span>
					</div>

					<div class="adaptive-img--contain img-container">
						<span>
							<img src="./img/Image13.jpg" alt="Description 13"/>
						</span>
					</div>

					<div class="adaptive-img--contain img-container">
						<span>
							<img src="./img/Image14.jpg" alt="Description 14"/>
						</span>
					</div>

					<div class="adaptive-img--contain img-container">
						<span>
							<img src="./img/Image15.jpg" alt="Description 15"/>
						</span>
					</div>

					<div class="adaptive-img--contain img-container">
						<span>
							<img src="./img/Image16.jpg" alt="Description 16"/>
						</span>
					</div>

				</div>
				<div class="modal">
					<img src="" alt="" class="full-img"/>
					<p class="caption"></p>
				</div>

			</div>
		</div>
	</main>
	<script type="text/javascript" src="controller/gallery.js"></script>
{% endblock %}
