{% extends 'base.html.twig' %}

{% block title %}Imago - Nouvel article
{% endblock %}

{% block body %}
	<h1>Créer un nouvel article</h1>

	<!--{{ include('articles/_form.html.twig') }}-->

	<form name="articles" method="post">
		<div id="articles">
			<div>
				<label for="articles_title" class="required">Titre</label>
				<input type="text" id="articles_title" name="articles[title]" required="required" maxlength="255">
			</div>
			<div>
				<label for="articles_content" class="required">Contenu</label>
				<textarea id="articles_content" name="articles[content]" required="required" style="height: 94px; width: 130px;"></textarea>
			</div>
			<div>
				<label for="articles_category" class="required">Catégorie</label>
				<input type="text" id="articles_category" name="articles[category]" required="required" maxlength="255">
			</div>
		</div>
		<input type="hidden" id="articles__token" name="articles[_token]" value="fd350.BNcnvONs3dgiPu7veF9IhAZrfh0wbH2cRtxyErJ5dhg.Tu9Xz4wp6rxtSt2tDDR9zHMYSFlZKSWtd7UUU4MrOlYylHCIhA2agExIow">
	</div>
	<button class="btn">Save</button>
</form>

<a href="{{ path('app_articles_index') }}">Retour à la liste d'articles</a>{% endblock %}
