/*
  *****************************************************************
  GENERALITIES
  *****************************************************************
*/
*:not(head, table, tbody, tfoot, thead, tr, td, th, script),
::after,
::before {
  display: flex;
  flex-direction: column;
  box-sizing: inherit;
  margin: 0;
}

html {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

body {
  font-family: "Athiti", sans-serif;
  font-size: 1rem;
  font-style: normal;
  overflow: auto;
  position: relative;
  background: #222;
}
body .container {
  padding: 0 10rem;
}

a {
  text-decoration: none;
  color: black;
}
a :hover {
  text-decoration: underline;
  color: #000;
}

section {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Bouton */
.bouton {
  background-color: #7e4a7c;
  max-width: 100px;
  height: 50px;
}
.bouton a {
  text-decoration: none;
  color: black;
  font-size: 2rem;
  padding: 0.5rem;
}

li {
  list-style: none;
}

.with-border-bottom {
  position: relative;
}
.with-border-bottom ::after {
  content: "";
  width: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
  border-bottom: 1.5px dashed black;
}

/* *****************************************************************
  IMAGES
  ***************************************************************** */
*[class*=adaptive-img]:not(.carousel) {
  position: relative;
}

*[class*=adaptive-img] > span,
*[class*=adaptive-img] > span > img:not(.carousel) {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  border: none;
  display: block;
  position: relative;
  box-sizing: border-box;
}

*[class*=adaptive-img] > span {
  margin: 0;
  opacity: 1;
  width: initial;
  height: initial;
  overflow: hidden;
  background: none;
}

*[class*=adaptive-img] > span > img:not(.carousel) {
  width: 0;
  height: 0;
  margin: auto;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
}

.adaptive-img--cover > span > img {
  object-fit: cover;
}

.adaptive-img--contain > span > img {
  object-fit: contain;
}

.side-nav {
  background: #333;
  position: fixed;
  height: 100%;
  min-width: 4rem;
  z-index: 2;
}
.side-nav div:last-child {
  position: absolute;
  bottom: 0;
}
.side-nav .tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}
.side-nav .tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 25%;
  /* left: 50%; */
  margin-left: 60px;
  opacity: 0;
  transition: opacity 0.3s;
}
.side-nav .tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #555 transparent transparent;
}
.side-nav .tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.side-nav .nav-bloc {
  padding: 20px 0;
  align-self: center;
  cursor: pointer;
  border-bottom: 1px solid #f2f2f21e;
}
.side-nav .nav-bloc .logo {
  width: 50px;
  height: auto;
}
.side-nav .nav-bloc .svg-icon,
.side-nav .nav-bloc .svg-icon path {
  width: 30px;
  height: 30px;
  fill: #ffffff;
}

.header {
  margin-bottom: 12rem;
}
.header .header--title {
  font-family: "Merienda", sans-serif;
  font-size: 15rem;
  margin-top: 10rem;
  margin-bottom: 2rem;
  text-align: center;
  text-shadow: 3rem 3rem 1.5rem #0000005e;
  color: transparent;
  background: url("https://phandroid.s3.amazonaws.com/wp-content/uploads/2014/05/rainbow-nebula.jpg") repeat;
  background-position: 40% 50%;
  background-clip: text;
  -webkit-background-clip: text;
  position: relative;
}
.header .header--p {
  text-align: right;
  margin-left: 30%;
}
.header .header--title__background {
  font-family: "Merienda", sans-serif;
  font-size: 15rem;
  margin-top: 10rem;
  margin-bottom: 2rem;
  text-align: center;
  text-shadow: 3rem 3rem 1.5rem #0000005e;
  position: absolute;
  left: 250px;
  bottom: 150px;
  color: rgba(0, 0, 0, 0.2);
  z-index: -1;
}
.header .header--title__up {
  font-size: 12px;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}

.footer {
  margin-top: 5rem;
}
.footer div {
  flex-direction: row;
  justify-content: flex-end;
  margin: 0 10px;
  color: #f3f3f3;
  line-height: 1.7;
}
.footer div .svg-icon {
  width: 30px;
  height: 30px;
}
.footer div .svg-icon path,
.footer div .svg-icon polygon,
.footer div .svg-icon rect {
  fill: #ffffff;
}
.footer div .svg-icon path:hover,
.footer div .svg-icon polygon:hover,
.footer div .svg-icon rect:hover {
  fill: #7a7a7a;
}
.footer div .svg-icon circle {
  stroke: #ffffff;
  stroke-width: 1;
}

main {
  padding-left: 4rem;
}
main .header--title__up {
  margin: auto;
}
main h2 {
  font-family: "Merienda", sans-serif;
  font-size: 2rem;
  margin-top: 5rem;
  margin-bottom: 8rem;
  text-align: center;
}
main h3 {
  font-family: "Merienda", sans-serif;
  font-size: 1rem;
  margin-bottom: 8rem;
  justify-content: center;
  display: flex;
  flex-direction: row;
}
main .index--text,
main p {
  color: #f3f3f3;
  line-height: 1.7;
  margin-bottom: 1rem;
}
main .index--text a,
main p a {
  padding: 0;
}
main .images {
  flex-direction: row;
  gap: 2rem;
}
main .images div {
  flex: 1 0;
}
main .adaptive-img--cover {
  flex: 1 0;
  padding: 2rem 0;
}
main .adaptive-img--cover span {
  height: 20rem;
}

.article--index {
  color: #ebecf0;
}
.article--index h1 {
  padding: 5rem 0;
}
.article--index .article--title {
  flex-direction: row-reverse;
}
.article--index .article--title span {
  flex: 1 0;
  margin: 1rem;
  justify-content: center;
  border-radius: 5rem;
}
.article--index .article--title span:first-child {
  font-size: 1.5rem;
}
.article--index .article--title span.article--category {
  font-size: 0.8rem;
  background-color: #babecc;
  color: #61677c;
  align-items: center;
  padding: 0.5rem;
  max-width: 7rem;
  height: 0.5rem;
}
.article--index a {
  margin: 1rem 0;
  color: #ebecf0;
  align-items: end;
}
.article--index .article--admin {
  align-self: center;
  width: fit-content;
  padding: 0.3rem;
}

.gallery--index {
  color: #ebecf0;
}
.gallery--index h1 {
  padding: 5rem 0;
}
.gallery--index .gallery {
  flex-flow: row wrap;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}
.gallery--index .gallery .img-container {
  flex: 25%;
  max-width: 25%;
  padding: 0.5rem;
  overflow: hidden;
}
.gallery--index .gallery .img-container span {
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.gallery--index .gallery .img-container span:hover {
  transform: scale(1.2);
}
.gallery--index .gallery .img-container span img {
  height: auto;
}
.gallery--index .modal {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  transition: 0.25s ease-out;
}
.gallery--index .modal.open {
  opacity: 1;
  pointer-events: all;
}
.gallery--index .modal .full-img {
  position: absolute;
  height: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  transition: all 0.25s ease-out;
}
.gallery--index .modal .full-img.open {
  transform: translate(-50%, -50%) scale(1);
}
.gallery--index .modal p {
  color: #fff;
  font-size: 2rem;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -5%);
}

.login {
  color: #ebecf0;
}
.login h1 {
  padding: 5rem 0;
}
.login form {
  align-self: center;
  padding: 1rem;
  width: 20rem;
}
.login button,
.login input {
  letter-spacing: -0.2px;
  font-size: 1rem;
  border: 0;
  outline: 0;
  font-size: 1rem;
  border-radius: 20rem;
  padding: 1rem;
  background-color: #ebecf0;
  text-shadow: 1px 1px 0 #fff;
}
.login label {
  margin: 2em 0em 1em;
}
.login button {
  margin: 2rem 0 2rem;
  color: #61677c;
  cursor: pointer;
  font-weight: 600;
  align-self: center;
}
.login button:hover {
  box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
}

/*# sourceMappingURL=index.css.map */
