/*
  *****************************************************************
  GENERALITIES
  *****************************************************************
*/
*:not(head, table, tbody, tfoot, thead, tr, td, th, script),
::after,
::before {
  display: flex;
  flex-direction: column;
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

body {
  font-family: "Athiti", sans-serif;
  font-size: 18px;
  font-style: normal;
  overflow: auto;
  position: relative;
  background: #222;
}
body .container {
  padding: 0 10rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}
a :hover {
  text-decoration: underline;
  color: #000;
}

section {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Bouton */
.bouton {
  background-color: #7e4a7c;
  max-width: 100px;
  height: 50px;
}
.bouton a {
  text-decoration: none;
  color: black;
  font-size: 2rem;
  padding: 15px;
}

li {
  list-style: none;
}

.with-border-bottom {
  position: relative;
}
.with-border-bottom ::after {
  content: "";
  width: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
  border-bottom: 1.5px dashed black;
}

/* *****************************************************************
  IMAGES
  ***************************************************************** */
*[class*=adaptive-img]:not(.carousel) {
  position: relative;
}

*[class*=adaptive-img] > span,
*[class*=adaptive-img] > span > img:not(.carousel) {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  border: none;
  display: block;
  position: relative;
  box-sizing: border-box;
}

*[class*=adaptive-img] > span {
  margin: 0;
  opacity: 1;
  width: initial;
  height: initial;
  overflow: hidden;
  background: none;
}

*[class*=adaptive-img] > span > img:not(.carousel) {
  width: 0;
  height: 0;
  margin: auto;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
}

.adaptive-img--cover > span > img {
  object-fit: cover;
}

.adaptive-img--contain > span > img {
  object-fit: contain;
}

.side-nav {
  background: #333;
  position: fixed;
  height: 100%;
  min-width: 4rem;
  z-index: 2;
}
.side-nav .tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}
.side-nav .tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 25%;
  /* left: 50%; */
  margin-left: 60px;
  opacity: 0;
  transition: opacity 0.3s;
}
.side-nav .tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #555 transparent transparent;
}
.side-nav .tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.side-nav .nav-bloc {
  padding: 20px 0;
  align-self: center;
  cursor: pointer;
  border-bottom: 1px solid #f2f2f21e;
}
.side-nav .nav-bloc .logo {
  width: 50px;
  height: auto;
}
.side-nav .nav-bloc .svg-icon,
.side-nav .nav-bloc .svg-icon path {
  width: 30px;
  height: 30px;
  fill: #ffffff;
}

.header {
  margin-bottom: 12rem;
}
.header .header--title {
  font-family: "Merienda", sans-serif;
  font-size: 15rem;
  margin-top: 10rem;
  margin-bottom: 2rem;
  text-align: center;
  color: transparent;
  background: url("https://phandroid.s3.amazonaws.com/wp-content/uploads/2014/05/rainbow-nebula.jpg") repeat;
  background-position: 40% 50%;
  -webkit-background-clip: text;
  position: relative;
  text-align: center;
}
.header .header--p {
  text-align: right;
  margin-left: 30%;
}
.header .header--title__background {
  font-family: "Merienda", sans-serif;
  font-size: 15rem;
  margin-top: 10rem;
  margin-bottom: 2rem;
  text-align: center;
  position: absolute;
  left: 250px;
  bottom: 150px;
  color: rgba(0, 0, 0, 0.2);
  z-index: -1;
}
.header .header--title__up {
  font-size: 12px;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}

.footer {
  margin-top: 50px;
}
.footer div {
  flex-direction: row;
  justify-content: flex-end;
  margin: 0 10px;
  color: #f3f3f3;
  line-height: 1.7;
}
.footer div .svg-icon:hover {
  fill: red;
  /* pour bien voir le test */
  opacity: 1;
}
.footer div .svg-icon {
  width: 30px;
  height: 30px;
}
.footer div .svg-icon path,
.footer div .svg-icon polygon,
.footer div .svg-icon rect {
  fill: #ffffff;
}
.footer div .svg-icon circle {
  stroke: #ffffff;
  stroke-width: 1;
}

main {
  padding-left: 4rem;
}
main .header--title__up {
  margin: auto;
}
main h2 {
  font-family: "Merienda", sans-serif;
  font-size: 80px;
  margin-top: 5rem;
  margin-bottom: 8rem;
  text-align: center;
}
main h3 {
  font-family: "Merienda", sans-serif;
  font-size: 30px;
  margin-bottom: 25px;
  justify-content: center;
  display: flex;
  flex-direction: row;
}
main .index--text,
main p {
  color: #f3f3f3;
  line-height: 1.7;
  margin-bottom: 1rem;
}
main .index--text a,
main p a {
  padding: 0;
}
main .images {
  flex-direction: row;
  gap: 5rem;
}
main .adaptive-img--cover {
  flex: 1 0;
  padding: 40px 0;
}
main .adaptive-img--cover span {
  height: 300px;
}

.article--index div {
  color: #f3f3f3;
  border: dashed #3fff00;
  margin: 0 20px;
}
.article--index div .article--title {
  flex-direction: row;
}
.article--index div .article--title span {
  flex: 1 0;
  padding: 100px;
  margin: 10px;
  background-color: #f3f3f3;
  color: black;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.login {
  color: #ebecf0;
}
.login h1 {
  padding: 70px 0px;
}
.login input[type=checkbox] {
  width: 20px;
}
.login form {
  padding: 16px;
  width: 320px;
  margin: 0 auto;
}
.login button,
.login input {
  letter-spacing: -0.2px;
  font-size: 16px;
  border: 0;
  outline: 0;
  font-size: 16px;
  border-radius: 320px;
  padding: 16px;
  background-color: #ebecf0;
  text-shadow: 1px 1px 0 #fff;
}
.login label {
  margin: 2em 0em 1em;
}
.login input {
  margin-right: 8px;
  box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
}
.login input:focus {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}
.login button {
  color: #61677c;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
  width: fit-content;
  align-self: center;
}
.login button:hover {
  box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
}
.login button:active {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}
.login button .icon {
  margin-right: 8px;
}
.login button.unit {
  border-radius: 8px;
  line-height: 0;
  width: 48px;
  height: 48px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 8px;
  font-size: 19.2px;
}
.login button.unit .icon {
  margin-right: 0;
}
.login button.red {
  display: block;
  width: 100%;
  color: #ae1100;
}
.login .input-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.login .input-group label {
  margin: 0;
  flex: 1;
}

/*# sourceMappingURL=index.css.map */
