@charset "UTF-8";
*,
::after,
::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  line-height: 1.15;
  box-sizing: border-box;
  font-family: sans-serif;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

a {
  background-color: transparent;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

button,
input,
optgroup,
select,
textarea {
  line-height: inherit;
  border: 1px solid currentColor;
}

button {
  overflow: visible;
  text-transform: none;
}

[type=reset],
[type=submit] {
  -webkit-appearance: button;
  padding: 1px 6px;
}

input {
  overflow: visible;
}

input,
textarea {
  padding: 1px;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

select {
  text-transform: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=color] {
  background: inherit;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

::-webkit-file-upload-button,
::-webkit-search-decoration {
  -webkit-appearance: button;
  font: inherit;
}

::-moz-focus-inner {
  border: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

hr {
  box-sizing: content-box;
  height: 0;
  color: inherit;
  overflow: visible;
}

dl dl,
dl ol,
dl ul,
ol dl,
ol ol,
ol ul,
ul dl,
ul ol,
ul ul {
  margin: 0;
}

b,
strong {
  font-weight: bolder;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

table {
  text-indent: 0;
  border-color: inherit;
}

details {
  display: block;
}

dialog {
  background-color: inherit;
  border: solid;
  color: inherit;
  display: block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/*
  *****************************************************************
  GENERALITIES
  *****************************************************************
  */
*:not(head, table, tbody, tfoot, thead, tr, td, th, script),
::after,
::before,
.carousel {
  display: flex;
  flex-direction: column;
}

html {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

body {
  font-family: "Athiti", sans-serif;
  font-size: 18px;
  font-style: normal;
  overflow: auto;
  background-color: #eee;
}
body .container {
  width: 100%;
  max-width: 1400px;
  padding: 0 32px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}
a :hover {
  text-decoration: underline;
  color: #000;
}

section {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Bouton */
.bouton {
  background-color: #7e4a7c;
  max-width: 100px;
  height: 50px;
}
.bouton a {
  text-decoration: none;
  color: black;
  font-size: 2rem;
  padding: 15px;
}

li {
  list-style: none;
}

.with-border-bottom {
  position: relative;
}
.with-border-bottom ::after {
  content: "";
  width: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
  border-bottom: 1.5px dashed black;
}

/* *****************************************************************
  IMAGES
  ***************************************************************** */
*[class*=adaptive-img]:not(.carousel) {
  position: relative;
}

*[class*=adaptive-img] > span,
*[class*=adaptive-img] > span > img:not(.carousel) {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  border: none;
  display: block;
  position: relative;
  box-sizing: border-box;
}

*[class*=adaptive-img] > span {
  margin: 0;
  opacity: 1;
  width: initial;
  height: initial;
  overflow: hidden;
  background: none;
}

*[class*=adaptive-img] > span > img:not(.carousel) {
  width: 0;
  height: 0;
  margin: auto;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
}

.adaptive-img--cover > span > img {
  object-fit: cover;
}

.adaptive-img--contain > span > img {
  object-fit: contain;
}

.navbar {
  position: relative;
  z-index: 1;
  background-color: antiquewhite;
  top: 0;
  left: 0;
  flex: 1 100%;
  padding: 24px;
  overflow: auto;
}
.navbar:before {
  z-index: 0;
  content: "";
  position: absolute;
  transition: box-shadow 0.2s ease-out;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid var(--green);
}
.navbar > * {
  position: relative;
  z-index: 2;
}

footer {
  padding: 20px;
  color: #fff;
  background-color: #444;
  text-align: center;
}

body {
  position: relative;
  z-index: 1;
  flex: 1 0;
}
body header h1 {
  font-family: "Merienda", sans-serif;
  font-size: 30px;
  margin-top: 5rem;
  margin-bottom: 8rem;
  font-size: 5rem;
  text-align: center;
}
body h2 {
  font-family: "Merienda", sans-serif;
  font-size: 30px;
  margin-bottom: 25px;
  justify-content: center;
  display: flex;
  flex-direction: row;
}
body h2 ::before {
  content: "★ ";
  color: #950000;
}
body h2 ::after {
  content: " ★";
  color: #950000;
}
body h3 {
  font-family: "Merienda", sans-serif;
  font-size: 20px;
  margin: 20px 0;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

p {
  padding-bottom: 10px;
}

.adaptive-img--cover span {
  width: auto;
  height: 200px;
}

.layout {
  gap: 48px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0 24px 200px 24px;
}

/*# sourceMappingURL=index.css.map */
